
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UploadModal</title>
</head>
<body>
    <div>
        <form id="importForm" action="/management/UploadExcel" method="post" enctype="multipart/form-data">
            <input type="file" name="uploadfie" />
            <input type="submit" />
        </form>
    </div>
</body>
</html>
